@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "http://fonts.googleapis.com/css?family=Lustria|Lato|Grand+Hotel";

* {
  @include box-sizing(border-box);
}

.wrapper {
    @include outer-container;
    @include span-columns(6);
    @include shift (3);
}


h1 {
    margin-top: 200px;
}
       
p, li {
    font-family: $text-font;
    color: darkslategray;
    }
        
a {
    text-decoration: none;
    color: darkslateblue;
    :hover {
        color: ghostwhite;
        font-style: italic;
    }
}
        



ul {
list-style-type: none;
}

