


//Colors
$header_color: #30B2B8;
$dark_blue: #175659;



//Fonts
$h1_font: "Lustria", serif;
$h2_font: "Lato", sans-serif;
$h3_font: "Grand+Hotel";

$text-font: "Lato", sans-serif;


//Mixins


//Layout
$max-width: 100%;


