
@include outer-container;
@include box-sizing(border-box);


div {
  width: ;     
  
}

 
       
p, li {
    font-family: $text-font;
    color: darkslategray;
    }
        
a {
    text-decoration: none;
    color: darkslateblue;
    :hover {
        color: ghostwhite;
        font-style: italic;
    }
}
        
#me {
border-radius: 50%;
}



ul {
list-style-type: none;
}

