@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../base/base";
@import "http://fonts.googleapis.com/css?family=Lustria|Lato|Grand+Hotel";


@include outer-container;



 
       
p, li {
    font-family: $text-font;
    color: darkslategray;
    }
        
a {
    text-decoration: none;
    color: darkslateblue;
    :hover {
        color: ghostwhite;
        font-style: italic;
    }
}
        



ul {
list-style-type: none;
}

